@model Aiursoft.Developer.Views.Shared.Components.GitHubRenderer.GitHubRendererViewModel

<div class="card mb-5">
    <div class="card-header">
        <i class="fas fa-book"></i>
        Document
    </div>
    <div class="card-body">
        <article class="markdown-body">
            @Html.Raw(Model.HTML)
        </article>
        <a class="btn btn-primary btn-md mt-3" href="//github.com/@Model.Org/@Model.Repo/tree/master/@Model.Path" target="_blank" role="button">
            <i class="fab fa-github"></i>
            View it on github
        </a>
    </div>
</div>