@model Aiursoft.EE.Models.SectionViewModels.CreateViewModel;
@{
    ViewData["Title"] = "Create new section";
}
<h1>Create new section for @Model.CourseName</h1>
<form asp-controller="Section" asp-action="Create" asp-route-id="@Model.CourseId" method="POST">
    <label asp-for="NewSectionName"></label>
    <input asp-for="NewSectionName" />
    <input type="submit" value="Create"/>
</form>