root = true
[*]

# Some CSS Resharper doesn't know how to load.
resharper_unknown_css_class_highlighting=none

# Some JS Resharper doesn't know how to load.
resharper_undeclared_global_variable_using_highlighting=suggesting

# Some HTML reference Resharper doesn't know how to load.
resharper_html_path_error_highlighting=none

# Allow JS global var.
resharper_use_of_implicit_global_in_function_scope_highlighting=none

# Stop suggesting IE compatibility.
resharper_css_browser_compatibility_highlighting=none

# Localization might not be finished.
resharper_not_overridden_in_specific_culture_highlighting=suggestion

# Allow names like `IPAddress`.
resharper_inconsistent_naming_highlighting=suggestion

# Allow unused auto property get.
resharper_unused_auto_property_accessor_global_highlighting=suggestion

# Allow view render global var.
resharper_access_to_modified_closure_highlighting=suggestion

# Suppress id not resolved because resharper can't understand
resharper_html_id_not_resolved_highlighting=suggestion
