.vs/
.vscode/
.idea/
lib
*.user
*.min.css
*.min.js
bin/
obj/
dist/
node_modules/
Properties/
npm-debug.log
bundle.js
appsettings.Production.json
appsettings.Development.json
*.log
TestResults/
app.db*
.angular/
.yarn/
*.tsbuildinfo
