.vs/
.idea/
lib
*.lock.json
package-lock.json
*.user
*.min.css
*.min.js
bin/
obj/
node_modules/
Properties/
npm-debug.log
yarn.lock
bundle.js
appsettings.Production.json
appsettings.Development.json
*.log
TestResults/
app.db*
