    <header>
        <div class="container-new py-6 px-3 text-center">
            <a href="/">
                <img src="https://oss.aiursoft.com/MyPersonalFiles/512x512.png" alt="Kahla Desktop" width="96" height="96">
            </a>
            <ul class="nav list-style-none d-flex flex-justify-center f4">
                <li>
                    <a class="d-inline-block m-2 current" href="/">概况</a>
                </li>
                <li>
                    <a class="d-inline-block m-2" href="/release-notes/">更新通告</a>
                </li>
                <li>
                    <a class="d-inline-block m-2" href="https://help.github.com/desktop/">帮助和社区</a>
                </li>
            </ul>

        </div>
    </header>

    <div class="hero pt-6 text-center">
        <div class="container-new px-3">
            <h1 class="f00-light text-white">
                卡拉 - 连接每个人的思想
            </h1>
            <p class="col-md-8 mx-auto mb-4 f3-light">
                作为商用的移动安全消息解决方案，卡拉能够在任何地点，使用任何设备来加密通讯。而它还是完全开源和免费的。
            </p>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For Windows</a>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For Linux</a>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For MacOS</a>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For Android</a>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For iOS</a>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For Windows 10</a>
            <a href="#" class="mx-1 my-3 f3 btn btn-large btn-outline-purple">For Chrome</a>
            <p>
                下载即表示您同意
                <a href="/terms/">许可协议</a>.
            </p>
            <div class="d-block width-fit mx-auto mt-6">
                <img src="@Values.CdnServerAddress/images/github-desktop-screenshot-mac.png" class="app-screenshot"/>
            </div>
        </div>
    </div>

    <div class="container-new px-3 text-center">
        <h2 class="f0-light mb-3 text-white">
             准备选择卡拉？
        </h2>
        <div class="d-md-flex flex-md-row col-xl-10 mx-auto text-white-75 f4 gut-lg">
            <div class="col-sm-10 mx-auto col-md-4 my-5 my-md-3">
                <span class="text-white">
                    <i class="fa fa-3x fa-bank"></i>
                </span>
                <h2 class="f2-light my-2 text-white lh-condensed">
                    商用级
                </h2>
                <p>
                    在商业用途中使用卡拉，可将服务部署在企业内部，并在没有互联网时访问卡拉的全部功能。
                </p>
            </div>
            <div class="col-sm-10 mx-auto col-md-4 my-5 my-md-3">
                <i class="fa fa-3x fa-television "></i>
                <h2 class="f2-light my-2 text-white lh-condensed">
                    跨平台
                </h2>
                <p>
                    卡拉面向了几乎所有移动和桌面平台。仅仅使用一个App即可让任何客户都能快速访问。
                </p>
            </div>
            <div class="col-sm-10 mx-auto col-md-4 my-5 my-md-3">
                <i class="fa fa-3x fa-lock"></i>
                <h2 class="f2-light my-2 text-white lh-condensed">
                    高度安全
                </h2>
                <p>
                    卡拉使用端对端加密的消息通讯，并支持消息的自动销毁。即使你不信任卡拉的服务器也可以安全传递机密。
                </p>
            </div>
        </div>

        <a class="btn btn-outline-white f4 mb-6" href="https://github.com/desktop/desktop">访问卡拉源码</a>
        <hr class="my-6 mx-auto" style="width: 100px;">
    </div>