.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.17;
    z-index: 0;
}

.www-shadow {
    text-shadow: 1px 1px 4px #000000;
}

header.www-back {
    background: url('/img/back.svg') #184685 no-repeat center center;
    background-size: cover;
    min-height: calc(100vh - 200px);
}

header.masthead {
    padding-top: 35vh;
}
