@model Aiursoft.Colossus.Models.DashboardViewModels.IndexViewModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = Model.Title;
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-inbox ico"></i>
            All files your uploaded in Colossus
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <p>Some content</p>
            </div>
        </div>
    </div>
</div>
