@model Aiursoft.Developer.Models.ToolsViewModels.QRCodeViewModel
@{
    ViewData["Title"] = "QRCode Generator";
    ViewData["Des"] = "Generate your QR Code by your input.";
}

<div class="jumbotron">
    <div class="container">
        <h3>@ViewBag.Title</h3>
        <p>@ViewBag.Des</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="https://gitlab.aiursoftt.cn/Aiursoft/Infrastructures/-/blob/master/src/WebServices/Basic/Developer/Views/Tools/QRCode.cshtml" target="_blank" role="button">
                <i class="fab fa-gitlab"></i>
                View it on GitLab
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12 col-md-12">
        <div class="card mb-5 mt-4">
            <div class="card-header">
                <i class="fa fa-network"></i>
                Enter your string
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Enter the string you want to generate a QR Code.</h4>
                        <hr/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SourceString"></label>
                            <textarea asp-for="SourceString" placeholder="Any string" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" onclick="generate($('#SourceString').val())">Get QR Code</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" id="qr-code" src=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var generate = function (address) {
        $('#qr-code').attr("src", `/qrcode-build?source=${encodeURIComponent(address)}`);;
    };
</script>