@model Aiursoft.EE.Models.ProfileViewModels.FollowersViewModel
@{
    ViewData["Title"] = "Followers";
}
<div class="container">
    <div class="row">
        @(await Html.PartialAsync("_Left", Model.LeftContent))
        <div class="col-md-9 mt-3">
            @(await Html.PartialAsync("_Up", Model.UpContent))
            <div class="row">
                @foreach (var fol in Model.Followers)
                {
                    <div class="col-sm-12">
                        @await UserImageGenerator.RenderUserImageAsync(fol.Trigger.UserName, 20, 20, "aiuruser-img mt-3")
                        <a asp-controller="Profile" asp-action="Overview" asp-route-id="@fol.Trigger.UserName">
                            <h3 class="mt-3">@fol.Trigger.NickName</h3>
                        </a>
                        <p>Description lorem ipsum dolor sit amet.</p>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>