@{
    ViewData["Title"] = Localizer["Email Confirmed!"];
}


<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Confirm Email"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <p>@Localizer["Your email address has been successfully set."]</p>
            </div>
            <a class="btn btn-primary btn-block" href="@ServiceLocation.WWW">@Localizer["Back to"] Aiursoft.com</a>
        </div>
    </div>
</div>