@{
    ViewData["Title"] = Localizer["Reset password"];
}


<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">@Localizer["Reset password"]</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <p>@Localizer["Your password has been reset."]</p>
            </div>
            <a class="btn btn-primary btn-block" href="@Values.WWWServerAddress">@Localizer["Back to"] Aiursoft.com</a>
        </div>
    </div>
</div>