@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="container">
        <h3>Welcome to @Values.ProjectName Developer Center</h3>
        <p>@Localizer["Access Aiursoft OAuth, object storage service or message queue powers your application, and also allows you to develop and grow will us."]</p>
        <div class="btn-group" role="group">
            <a class="btn btn-success btn-lg" asp-controller="Apps" asp-action="Index" role="button" target="_top">
                <i class="fas fa-pencil-alt"></i>
                @Localizer["Go to Dashboard"]
            </a>
        </div>
    </div>
</div>

<main role="main" class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Use Aiursoft as a framework</h2>
            <p>
                Aiursoft website itself is a powerful framework which powers all Aiursoft applications.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Powerful tools that powers Aiursoft itself
            </h2>
            <p>
                Experience powerful Aiursoft produces libraries, no matter front-end or back-end libraries, all powered by Aiursoft and powers Aiursoft.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Save your files, easy and simple
            </h2>
            <p>
                Aiursoft Object Storage Service produces you a strong storage system and helps you deliver content to global users.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                The message queue that powers Kahla
            </h2>
            <p>
                Use Stargate - the message queue and message pushing system that powers Kahla.
            </p>
        </div>

    </div>
</main>