@model Aiursoft.SDK.Views.Shared.Components.ChinaRegister.ChinaRegisterViewModel
@if (Model.IsInChina)
{
    <label class="sr-only">
        It seems that you are viewing this in China. Due to the law and regulation of the Chinese government, some features might be limited.
    </label>
}