@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="container">
        <h3>Welcome to Aiursoft Developer Center</h3>
        <p>Access Aiursoft OAuth, object storage service or message queue powers your application, and also allows you to develop and grow will us.</p>
        <div class="btn-group" role="group">
            <a class="btn btn-success btn-lg" asp-controller="Apps" asp-action="Index" role="button">
                <i class="fa fa-pencil"></i>
                Go to Dashboard
            </a>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Lorem ipsum dolor sit amet
            </h2>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Lorem ipsum dolor sit amet
            </h2>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                Lorem ipsum dolor sit amet
            </h2>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
            <p>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
        </div>

    </div>
</main>
