@model Aiursoft.Developer.Models.FilesViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AppLayout";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Files</h1>
            <p>**Place some introduction!**</p>
        </div>
    </div>
</div>