<!DOCTYPE html>
<html>
<head>
    <vc:aiur-header></vc:aiur-header>
    <title>@ViewData["Title"] - @Values.ProjectName</title>
    <vc:aiur-dashboard-css></vc:aiur-dashboard-css>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="bg-light lines">
@RenderBody()
<vc:aiur-dashboard-js></vc:aiur-dashboard-js>
@await RenderSectionAsync("scripts", false)
</body>
</html>