@{
    ViewData["Title"] = "Scanner";
    ViewData["Des"] = "An Automatic dependencies management system for ASP.NET Core and powers Aiursoft.";
}

<div class="jumbotron">
    <div class="container">
        <h3>Aiursoft Scanner</h3>
        <p>@ViewBag.Des</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="//github.com/AiursoftWeb/Nexus/tree/master/Scanner" target="_blank" role="button">
                <i class="fab fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <vc:git-hub-renderer org="AiursoftWeb" repo="Nexus" path="src/Abstracts/Scanner.Abstract/Readme.md"></vc:git-hub-renderer>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <vc:git-hub-renderer org="AiursoftWeb" repo="Nexus" path="src/Web%20Extends/Scanner/Readme.md"></vc:git-hub-renderer>
        </div>
    </div>
</div>
