@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h3>Welcome to Aiursoft Account Center</h3>
    <p>Please sign in to access your dashboard...</p>
    <div class="btn-group" role="group">
        <a class="btn btn-success btn-lg" asp-controller="Account" asp-action="Index" role="button">
            <i class="fa fa-pencil"></i>
            Account Management
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Lorem ipsum dolor sit amet
        </p>
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Lorem ipsum dolor sit amet
        </h2>
        <p>
            Lorem ipsum dolor sit amet
        </p>
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lorem</h2>
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
</div>
