@{
    ViewData["Title"] = "Terms";
}
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Legal</h1>
            </div>
        </div>
    </div>
</header>
<section class="features-icons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Terms of Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Use Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Anti Spam Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Cookie Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">GDPR Privacy Notice</a>
                    </li>
                </ul> -->
<div>
  <h1 class="text-center">Aiursoft用户使用协议</h1>
  <h2>1.用户协议的接受与修改</h2>
  <p>本协议是用户（您）与Aiursoft之间的协议，Aiursoft将按照本协议约定之内容为您提供服务。</p>
  <p>1.1本协议所述服务条款构成您（个人或者单位、组织、团体等）使用Aiursoft提供的相关服务的先决条件。若您不同意本协议中所述服务条款或其后对协议条款的修改，您应不使用或主动取消Aiursoft提供的相关服务。您的使用行为将视作对本协议全部条款的完全接受。</p>
  <h2>2.服务说明</h2>
  <p>2.1Aiursoft向您提供包括但不限于如下服务：</p>
  <p style="padding-left:4em;">2.1.1Aiursoft主页 www.Aiursoft.com （及其他由Aiursoft运营的任何网站）；</p>
  <p style="padding-left:4em;">2.1.2Aiursoft直接拥有或运营的包括但不限于PC、平板、手机等全部终端客户端产品；</p>
  <p style="padding-left:4em;">2.1.3Aiursoft用户中心、开发者中心、卡拉、EE、Colossus、充值中心；</p>
  <p style="padding-left:4em;">2.1.4Aiursoft直接拥有或运营的服务器、网络存储空间；</p>
  <p style="padding-left:4em;">2.1.5Aiursoft提供给您的其他技术和/或服务。</p>
  <p>2.2Aiursoft所提供的服务，均限于在Aiursoft平台内使用，任何以恶意破解等非法手段将Aiursoft所提供的服务与Aiursoft平台分离的行为，皆不属于本协议约定的由Aiursoft提供的服务。由此引起的一切后果由行为人负责，Aiursoft将保留依法追究行为人法律责任的权利。</p>
  <p>2.3Aiursoft官方所公布的方式为注册、登录、下载客户端（包括但不限于iOS、Android等智能平台）、使用Aiursoft服务的唯一合法方式，用户通过其他任何途径、任何渠道、任何方式获取的Aiursoft服务（包括但不限于账号、扩展工具、客户端下载等）均为非法所得，Aiursoft概不承认其效力，且一经发现，Aiursoft有权立即作出删除、清零、封号等处理，任何因此导致的一切不利后果均由用户自行承担。请用户妥善保管自己的帐号和密码，加强密码安全性，谨防账号泄露或被盗。因用户账号被泄露或被盗而造成的任何损失，Aiursoft不承担补偿责任。</p>
  <p>2.4用户理解并认可Aiursoft享有如下权利，Aiursoft行使如下权利不视为违约，用户不追究或者豁免Aiursoft的相关法律责任：用户有权长期使用其合法获得的Aiursoft账号及其账号下余额、标识、礼品等，但是用户确认其仅享有上述服务和产品的使用权，上述服务和产品，及其衍生物的所有权及知识产权均归Aiursoft所有（用户经合法渠道取得的实体产品所有权除外）。Aiursoft有权根据实际情况自行决定收回日期，无需另行通知用户亦无需征得用户同意。</p>
  <p>2.5Aiursoft有权提前向用户公告（包括但不限于弹出页面公告、网站首页公告）以修改、替换、升级与Aiursoft服务相关的任何软件。如果用户不同意或者不接受Aiursoft相关软件的修改、替代、升级，请直接拒绝、停止、取消使用行为，否则视为用户同意并接受Aiursoft相关软件的修改、替代、升级，同时该同意并接受的行为仍受本协议约束。</p>
  <h2>3.用户注册</h2>
  <p>如果您使用Aiursoft提供的网络存储空间进行试听节目的上传及传播服务，您需要注册一个账号并设置密码，并确保注册信息的真实性、正确性及完整性，如果上述注册信息发生变化，您应及时更改。在完成本服务的登记程序后，您应维护账号及密码的机密安全。您应对任何人利用您的账号及密码所进行的活动完全负责，Aiursoft无法对非法或未经您授权使用您账号及密码的行为作出甄别，因此Aiursoft将不承担任何责任。同时您同意并承诺做到：</p>
  <p>3.1当您的账号或密码遭到未经授权的使用，或者发生任何安全问题时，您会立即有效地通知到Aiursoft；</p>
  <p>3.2当您每次登录Aiursoft或使用相关服务后，会将有关账号等安全退出；</p>
  <p>3.3您同意接受Aiursoft通过电子邮件、客户端、网页或其他合法方式向您发送通知信息和其他相关信息；</p>
  <p>3.4您承诺不在注册、使用Aiursoft账号从事以下行为：</p>
  <p style="padding-left:4em;">3.4.1故意冒用他人信息为自己注册Aiursoft账号；</p>
  <p style="padding-left:4em;">3.4.2未经他人合法授权以他人名义注册Aiursoft账号；</p>
  <p style="padding-left:4em;">3.4.3窃取、盗用他人的Aiursoft账号、余额、会员标识等；</p>
  <p style="padding-left:4em;">3.4.4使用侮辱、诽谤、色情、政治等违反法律、道德及公序良俗的词语注册Aiursoft账号；</p>
  <p style="padding-left:4em;">3.4.5以非法占有Aiursoft相关服务资源为目的，通过正当或非正当手段恶意利用网站漏洞；</p>
  <p style="padding-left:4em;">3.4.6侵犯他人合法权益的其他内容。</p>
  <p>3.5您在此同意，Aiursoft有权对违反上述条款的用户作出禁止注册及/或封号的处理。</p>
  <h2>4.Aiursoft上的内容</h2>
  <p>4.1Aiursoft上的内容是指您在Aiursoft上传、传播的视频、音频或其他任何形式的内容，包括但不限于图像、文字、链接等。</p>
  <p>4.2您在Aiursoft上传或发布的作品，您保证对其享有合法的著作权或相应授权，Aiursoft有权展示、散布及推广前述内容。</p>
  <p>4.3对于用户通过Aiursoft提供的UGC服务上传至Aiursoft的任何信息内容，包括但不限于视频、图片、文字等形式，用户在此同意在Aiursoft进行传播。</p>
  <p>4.4任何经由Aiursoft提供的服务，以上传、张贴、发送电子邮件或任何其他方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息或其他资料（以下简称“内容”），无论系公开还是私下传送，均由内容提供者、上传者承担责任。</p>
  <p>4.5Aiursoft无法预先知晓并合理控制经由Aiursoft服务上传之内容，因此，您已预知在使用Aiursoft的服务时，可能会接触到部分令人不快、不适或厌恶之内容，您同意放弃由此产生的针对Aiursoft的任何追索权。但Aiursoft有权依法停止传输任何前述内容并采取相应处理，包括但不限于暂停您继续使用Aiursoft的部分或全部服务，保存有关记录并向有关机关报告。</p>
  <p>4.6您需独立对自己在Aiursoft上实施的行为承担法律责任。若您使用Aiursoft服务的行为不符合本协议，Aiursoft有权作出独立处理，且在无需事先通知及/或征得用户同意的情况下停用您的账号。您若在Aiursoft上散布和传播反动、色情或其他违反国家法律、规定的信息，Aiursoft的系统记录可能作为您违反相关法律的证据。</p>
  
  <h2>5.使用规则</h2>
  <p>5.1用户在使用Aiursoft服务的过程中，应遵守以下法律法规：</p>
  <p style="padding-left:4em;">5.1.1《中华人民共和国保守国家秘密法》</p>
  <p style="padding-left:4em;">5.1.2《中华人民共和国著作权法》</p>
  <p style="padding-left:4em;">5.1.3《中华人民共和国计算机信息系统安全保护条例》</p>
  <p style="padding-left:4em;">5.1.4《计算机软件保护条例》</p>
  <p style="padding-left:4em;">5.1.5《互联网电子公告服务管理规定》</p>
  <p style="padding-left:4em;">5.1.6《信息网络传播权保护条例》</p>
  <p style="padding-left:4em;">5.1.7《中华人民共和国网络安全法》</p>
  <p style="padding-left:4em;">5.1.8其他有关计算机及互联网规定的法律、法规。</p>
  <p>5.2在任何情况下，Aiursoft一旦合理地认为用户的行为可能违反上述法律、法规，可以在任何时候，不经事先通知终止向该用户提供服务。</p>
  <p>5.3禁止用户从事以下行为：</p>
  <p style="padding-left:4em;">5.3.1制作、上传、复制、传送、传播包含任何反对宪法所确定的基本原则、危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一、破坏民族团结、损害国家荣誉和利益、煽动民族仇恨、民族歧视、破坏民族团结、破坏国家宗教政策、宣扬邪教和封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪、侮辱或者诽谤他人，侵害他人合法权益的等法律、行政法规禁止的内容或其他令人反感的包括但不限于资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料；</p>
  <p style="padding-left:4em;">5.3.2以任何方式危害未成年人；</p>
  <p style="padding-left:4em;">5.3.3冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为与任何人或任何机构有关；</p>
  <p style="padding-left:4em;">5.3.4伪造标题或以其他方式操控识别资料，使人误认为该内容为Aiursoft所传送；</p>
  <p style="padding-left:4em;">5.3.5将无权传送的内容（例如内部资料、机密资料）进行上载、张贴、发送电子邮件或以其他方式传送；</p>
  <p style="padding-left:4em;">5.3.6将侵犯任何人的专利、商标、著作权、商业秘密等知识产权的内容加以上载、张贴、发送电子邮件或以其他方式传送；</p>
  <p style="padding-left:4em;">5.3.7将广告函件、促销资料、"垃圾邮件"等，加以上载、张贴、发送电子邮件或以其他方式传送；</p>
  <p style="padding-left:4em;">5.3.8跟踪或以其他方式骚扰他人；</p>
  <p style="padding-left:4em;">5.3.9将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送；</p>
  <p style="padding-left:4em;">5.3.10干扰或破坏Aiursoft服务或与Aiursoft服务相连的服务器和网络，或不遵守本协议之规定；</p>
  <p style="padding-left:4em;">5.3.11故意或非故意违反任何相关的中国法律、法规、规章、条例等其他具有法律效力的规范；</p>
  <p style="padding-left:4em;">5.3.12用户需保证其上传节目不得违反广电总局的相关规定，包括但不限于《互联网视听节目服务管理规定》（广电总局56号令）等，其上传节目应当符合法律、行政法规、部门规章的规定，上传节目不得含有以下内容：</p>
  <p style="padding-left:6em;">5.3.12.1 反对宪法确定的基本原则的；</p>
  <p style="padding-left:6em;">5.3.12.2 危害国家统一、主权和领土完整的；</p>
  <p style="padding-left:6em;">5.3.12.3 泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；</p>
  <p style="padding-left:6em;">5.3.12.4 煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；</p>
  <p style="padding-left:6em;">5.3.12.5 扰乱社会秩序，破坏社会稳定的；</p>
  <p style="padding-left:6em;">5.3.12.6 诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；</p>
  <p style="padding-left:6em;">5.3.12.7 侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；</p>
  <p style="padding-left:6em;">5.3.12.8 危害社会公德，损害民族优秀文化传统的；</p>
  <p style="padding-left:6em;">5.3.12.9 有关法律、行政法规和国家规定禁止的其他内容。</p>
  <p style="padding-left:4em;">5.3.13如用户提供的上传节目含有以上违反政策法律法规的信息或者内容的，由用户直接承担以上导致的一切不利后果，如因此给Aiursoft造成不利后果的，用户应负责消除影响，并且赔偿因此导致的一切损失。</p>
  <p>5.4用户不得通过任何渠道或媒体（包括但不限于自媒体等）发出“与Aiursoft合作”、“与Aiursoft共同出品”等任何携带“Aiursoft”品牌的字样，如用户需宣传推广合作节目，用户只能在宣传中提及节目本身而不得提及与Aiursoft关系或者擅自以Aiursoft品牌进行推广，凡是用户的发稿带有“Aiursoft”的一切宣传稿件必须通过Aiursoft相应合作部门之书面同意，否则因此给Aiursoft造成的一切损失用户应予以赔偿。</p>
  <p>5.5余额及付费物品的使用规则</p>
  <p style="padding-left:4em;">5.5.1若无特殊说明，用户通过使用付费服务获得的余额、兑换物品等虚拟产品，具体使用方法、期限等以Aiursoft页面中附带的说明及用户指南或具备以上解说性质的类似官方文档为准。</p>
  <p style="padding-left:4em;">5.5.2付款系统会因用户需求、网站策略调整、用户接受程度等因素随时进行调整，具体信息请以当时的页面说明为准。</p>
  <p style="padding-left:4em;">5.5.3付款系统是Aiursoft向用户提供的服务，余额的使用、消耗、兑换、抽奖等行为均不提供发票或其他票据证明。</p>
  <p style="padding-left:4em;">5.5.4基于虚拟商品的性质和特征，Aiursoft不提供余额兑换的虚拟商品的退货、换货服务。对于实物产品，因用户原因导致产品出现瑕疵、损坏的，Aiursoft不予负责。</p>
  <p style="padding-left:4em;">5.5.5如无特殊约定，用户通过正规渠道获得的余额及其衍生物品均不以任何现金方式退还，仅能通过享用付费服务进行等值消耗。用户消耗其所获得全部余额，且不将继续使用付费服务的，服务终止。</p>
  <h2>6.隐私权策略</h2>
  <p>Aiursoft注重保护用户个人信息，所谓用户个人信息，是指以电子或者其他方式记录的能够单独或者与其他信息结合识别个人身份的各种信息，包括但不限于用户的姓名、出生日期、身份证件号码、个人生物识别信息、住址、电话号码等。本隐私策略涉及用户个人信息收集、使用、共享和保护的有关情况，适用于Aiursoft向用户提供的所有相关服务。Aiursoft建议您完整地阅读并理解本隐私策略，如果您不同意本隐私策略的任何内容，您应立即停止使用Aiursoft提供的服务。当您使用Aiursoft提供的任一服务时，即表示您已同意Aiursoft按照本隐私策略来合法收集、使用、共享和保护您的个人信息。</p>
  <p>6.1用户充分理解并同意Aiursoft为了向用户提供更好以及更个性化的服务，主动、被动地收集用户如下个人信息，并有针对性的为用户提供合适的内容和提升用户体验：</p>
  <p style="padding-left:4em;">6.1.1用户向Aiursoft提供的信息。当您注册Aiursoft账户及您在使用Aiursoft相关服务时填写、提交及/或其他任何方式提供的信息，包括您的姓名、性别、出生年月日、身份证号码、电话号码、电子邮箱或网银在线账号、银行卡信息及相关附加信息等。您可以选择不提供某一或某些信息，但您也因此可能无法使用Aiursoft的相关服务。请您理解，我们使用您提供的信息是为了回应您的要求，为您在Aiursoft享受服务提供便利，完善Aiursoft以及与您进行信息沟通。另外，我们可能会将您所提供的信息与您的Aiursoft账户关联，用以识别您的身份。</p>
  <p style="padding-left:4em;">6.1.2用户使用服务过程中收集的信息。为了提高服务质量和用户体验，Aiursoft会留存您使用服务以及使用方式的相关信息，包括浏览器和计算机上的信息（在您访问Aiursoft或使用Aiursoft服务时，Aiursoft系统自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据）、位置信息、设备信息、行为信息。</p>
  <p style="padding-left:4em;">6.1.3来自第三方的信息。在您注册Aiursoft账户和使用服务过程中，您授权的Aiursoft可向Aiursoft的关联方、合作伙伴所收集的相关信息，以及您授权的Aiursoft的关联方、合作伙伴可向Aiursoft分享相关的信息。这些信息包括但不限于您的身份信息、行为信息、交易信息、设备信息等，Aiursoft会将此类信息汇总，用于帮助Aiursoft向您提供更好以及更加个性化的服务或更好的预防互联网欺诈。</p>
  <p>6.2为向您提供服务、提升我们的服务质量以及优化您的服务体验，Aiursoft会在符合法律规定或根据您授权的情况下管理和使用您的个人信息，并主要用于下列用途：</p>
  <p style="padding-left:4em;">6.2.1向您提供您使用的各项服务，并维护、改进这些服务。</p>
  <p style="padding-left:4em;">6.2.2向您推荐您可能感兴趣的内容，包括但不限于向您发出产品和服务信息，或通过系统向您展示个性化的第三方推广信息，或在征得您同意的情况下与Aiursoft的合作伙伴共享信息以便他们向您发送有关其产品和服务的信息。如您不希望接收上述信息，可通过相应的退订功能进行退订。</p>
  <p style="padding-left:4em;">6.2.3Aiursoft可能使用您的个人信息以验证身份、预防、发现、调查欺诈、危害安全、非法或违反与Aiursoft或其关联方协议、政策或规则的行为，以保护您、其他Aiursoft用户，或Aiursoft或其关联方的合法权益。</p>
  <p style="padding-left:4em;">6.2.4Aiursoft可能会将来自某项服务的个人信息与来自其他服务所获得的信息结合起来，用于为了给您提供更加个性化的服务使用。</p>
  <p style="padding-left:4em;">6.2.5Aiursoft会对提供的服务使用情况进行统计，并可能会与公众或第三方分享这些统计信息，以展示Aiursoft的产品或服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。</p>
  <p style="padding-left:4em;">6.2.6让您参与有关我们产品及服务的调查。</p>
  <p style="padding-left:4em;">6.2.7经您同意或授权的其他用途。</p>
  <p>6.3用户可以通过登录自己的账户查询、更正及删除自己的账户信息等使用我们服务时您提供的个人信息。如果您认为Aiursoft存在违反法律、行政法规的规定或者与您的约定收集、使用您个人信息的，有权要求Aiursoft予以更正或删除。</p>
  <p>6.4Aiursoft对收集的用户个人信息负有保密及安全保护义务，不会在未经合法用户授权时，公开、编辑或者向任何第三方透露用户个人信息及保存在Aiursoft的非公开内容，除非遇到以下情况：</p>
  <p style="padding-left:4em;">6.4.1征得您的同意或授权；</p>
  <p style="padding-left:4em;">6.4.2按照法律、法规、规章的规定或行政、司法机构的要求；</p>
  <p style="padding-left:4em;">6.4.3为维护其他用户、Aiursoft自身及社会公众的合法权益，即您出现违反适用的法律法规或Aiursoft服务规则或相关协议的情况，或为保护Aiursoft及其关联公司或其他用户或社会公众的权利、财产或安全免遭损害；</p>
  <p style="padding-left:4em;">6.4.4出于实现用户个人信息的管理和使用之用途，或为履行本隐私策略中的义务和行使权利，向Aiursoft的关联方、合作伙伴或代表Aiursoft履行某项职能的第三方分享您的个人信息，且受本隐私策略中所声明目的的约束；</p>
  <p style="padding-left:4em;">6.4.5协助解决争议，即某些情况下只有共享您的信息，才能便于处理您与他人的纠纷或争议；</p>
  <p style="padding-left:4em;">6.4.6其他依法需要共享用户个人信息的情况。</p>
  <p>6.5Aiursoft重视对未成年人个人信息的保护，建议未成年用户请监护人仔细阅读本隐私权策略，并在征得监护人同意的前提下使用Aiursoft的服务或向Aiursoft提供信息。</p>
  <p>6.6Cookie 及网络 Beacon的使用:</p>
  <p style="padding-left:4em;">6.6.1Cookie的使用。Cookie是由网页服务器存放在您的访问设备上的文本文件。指定给您的Cookie 是唯一的，它只能被将Cookie发布给您的域中的Web服务器读取。请您理解，Aiursoft使用 Cookie 来帮助您实现您的联机体验的个性化，使您在Aiursoft及其关联方获得更轻松的访问体验。例如，Cookie 会帮助您在后续访问Aiursoft时调用您的信息，简化记录您填写个人信息（例如一键登录等）的流程；保护您的数据安全等。您有权接受或拒绝 Cookie。大多数浏览器会自动接受Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookie。如果选择拒绝 Cookie，那么您可能无法完全体验所访问的Aiursoft或某些服务的全部功能。</p>
  <p style="padding-left:4em;">6.6.2网络Beacon的使用。Aiursoft网页上常会包含一些电子图象（称为"单像素" GIF 文件或 "网络 beacon"），它们可以帮助网站计算浏览网页的用户或访问某些Cookie。Aiursoft使用网络beacon的方式有：（1）Aiursoft通过在网站上使用网络beacon，计算用户访问数量，并通过访问 cookie 辨认注册用户；（2）Aiursoft通过得到的Cookie信息，为用户提供个性化服务。</p>
  <p>6.7Aiursoft重视并严格保护用户的个人信息安全，包括但不限于使用各种制度、安全技术和程序等措施来保护您的个人信息不被未经授权的访问、篡改、披露或破坏。请您妥善设置、保护自己的个人信息，仅在必要的情形下向他人提供。您理解并同意，Aiursoft将通过备份、对密码进行加密等安全措施以保护您的账户信息等个人信息不丢失、不被滥用和变造。</p>

  <h2>7.第三方链接</h2>
  <p>Aiursoft服务可能会提供与其他国际互联网网站或资源进行链接。除非另有声明，Aiursoft无法对第三方网站之服务进行控制，用户因使用或依赖上述网站或资源所产生的损失或损害，Aiursoft不承担任何责任。</p>
  <h2>8.知识产权</h2>
  <p>8.1受国际版权公约、中华人民共和国著作权法、专利法、及其他知识产权方面的法律法规的保护，Aiursoft服务及本服务所使用的软件、技术、商标、材料等的所有知识产权归Aiursoft所有和享有。“知识产权”包括在专利法、版权法、商标法、反不正当竞争法中等法律规定的任何和所有权利、任何和所有其它所有权以及其中的任何和所有应用、更新、扩展和恢复。</p>
  <p>8.2用户不得修改、改编、翻译Aiursoft服务所使用的软件、技术、材料等，或者创作与之相关的派生作品，不得通过反向工程、反编译、反汇编或其他类似行为获得其的源代码，否则由此引起的一切法律后果由用户负责，Aiursoft将依法追究违约方的法律责任。</p>
  <p>8.3用户不得恶意修改、复制、传播Aiursoft服务所使用的软件、技术、材料等。否则，用户自行承担因此而造成对其他人的损害，或者造成对Aiursoft形象损害，要承担相应的法律责任。</p>
  <p>8.4用户不得擅自删除、掩盖或更改Aiursoft的版权声明、商标或其它权利声明。Aiursoft平台所有设计图样以及其他图样、产品及服务名称，均为Aiursoft及/或其关联公司所享有的商标、标识。任何人不得使用、复制或用作其他用途。</p>
  <p>8.5Aiursoft对其自制内容和其他通过授权取得的独占内容享有完全知识产权，未经Aiursoft许可，任何单位和个人不得私自转载、传播和提供观看服务或者有其他侵犯Aiursoft知识产权的行为。否则，Aiursoft将追究侵权行为人的法律责任。</p>
  <p>8.6Aiursoft所有和享有的知识产权，不因用户的任何使用行为而发生权利转移。</p>
  <h2>9.免责声明</h2>
  <p>9.1Aiursoft对于任何包含、经由或连接、下载或从任何与有关本网络服务所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性；并且对于用户经本服务上的广告、展示而购买、取得的任何产品、信息或资料，Aiursoft不负保证责任。用户自行负担使用本服务的风险。</p>
  <p>9.2Aiursoft有权但无义务，改善或更正Aiursoft服务任何部分之任何疏漏、错误。</p>
  <p>9.3Aiursoft对如下事项不做担保（包括但不限于）：</p>
  <p style="padding-left:4em;">9.3.1Aiursoft提供的网站、客户端等软件虽然均已经过Aiursoft测试，但由于技术本身的局限性，Aiursoft不能保证其与其他软硬件、系统完全兼容。如果出现不兼容的情况，用户可将情况报告Aiursoft，以获得技术支持。如果无法解决问题，用户可以选择卸载、停止使用Aiursoft服务。</p>
  <p style="padding-left:4em;">9.3.2使用Aiursoft服务涉及到Internet服务，可能会受到各个环节不稳定因素的影响。因不可抗力、黑客攻击、系统不稳定、网络中断、用户关机、通信线路等原因，均可能造成Aiursoft服务中断或不能满足用户要求的情况。Aiursoft不保证Aiursoft服务适合用户的使用要求。</p>
  <p style="padding-left:4em;">9.3.3由于Aiursoft提供的客户端等软件可以通过网络途径下载、传播，因此对于从非Aiursoft指定官方站点下载、非Aiursoft指定途径获得的Aiursoft服务相关软件，Aiursoft无法保证其是否感染计算机病毒、是否隐藏有伪装的木马程序等黑客软件，也不承担用户由此遭受的一切直接或间接损害赔偿等法律责任。</p>
  <p style="padding-left:4em;">9.3.4Aiursoft不做任何与Aiursoft服务、产品的安全性、可靠性、及时性和性能有关的担保。</p>
  <p style="padding-left:4em;">9.3.5Aiursoft不保证其提供的任何产品、服务或其他材料符合用户的期望。</p>
  <p>9.4用户使用经由Aiursoft服务下载或取得的任何资料，其风险由用户自行负担，因该使用而导致用户电脑系统损坏或资料流失，用户应负完全责任。</p>
  <p>9.5基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，Aiursoft不承担任何直接、间接、附带、衍生或惩罚性的赔偿：</p>
  <p style="padding-left:4em;">9.5.1Aiursoft服务使用或无法使用；</p>
  <p style="padding-left:4em;">9.5.2经由Aiursoft服务购买或取得的任何产品、资料或服务；</p>
  <p style="padding-left:4em;">9.5.3用户资料遭到未授权的使用或修改；</p>
  <p style="padding-left:4em;">9.5.4其他与Aiursoft服务相关的事宜。</p>
  <p>9.6用户应妥善保管自己的帐号和密码，加强密码安全性，谨防账号泄露或被盗。因用户账号被泄露或被盗而造成的任何损失，Aiursoft不承担补偿责任。用户因电信和网通部门的通讯线路故障、网络或电脑故障、系统不稳定、不可抗力（如服务器当机）等非Aiursoft原因造成账号、账号内财产等丢失、减少的，Aiursoft不承担补偿等责任。</p>
  <p>9.7用户理解并同意自主选择免费下载和使用Aiursoft服务，风险自负，包括但不限于用户使用Aiursoft服务过程中的行为，以及因使用Aiursoft服务产生的一切后果。如因下载或使用Aiursoft服务而对计算机系统造成的损坏或数据的丢失等，用户须自行承担全部责任。</p>
  <h2>10.服务终止</h2>
  <p>10.1您同意Aiursoft有权基于自行考虑，因任何理由，包括但不限于缺乏使用或Aiursoft认为您已经违反本协议的条款及精神，而终止您的账号或服务的全部或任何部分，并将您在Aiursoft服务内的任何内容进行移除并删除。</p>
  <p>10.2您同意本协议任何规定提供之服务，无需进行任何事先通知即可终端或终止。您承认并同意，Aiursoft可立即关闭或删除您的账号及账号中所有相关信息及文件，及/或禁止继续使用前述文件或Aiursoft的服务。</p>
  <p>10.3Aiursoft采取以上行为均不需要进行通知，并且对用户和任何第三人均不承担责任。</p>
  <h1>11.法律适用和管辖</h1>
  <p>11.1Aiursoft对本协议拥有最终解释权。</p>
  <p>11.2本协议的生效、履行、解释及争议的解决均适用中华人民共和国法律。若本条款因与中华人民共和国现行法律相抵触而导致部分无效，不影响其他部分的效力。</p>
  <p><b>11.3如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，按照其仲裁规则进行仲裁。</b></p>
</div>
            </div>
        </div>
    </div>
</section>
<partial name="_signup" />