@using Aiursoft.XelNaga.Models
@using Aiursoft.Gateway.SDK.Services
@model Aiursoft.Identity.Views.Shared.Components.AiurFooter.AiurFooterViewModel
@inject GatewayLocator GatewayLocator
@{
    var classText = "";
    if (!string.IsNullOrWhiteSpace(Model.Class))
    {
        classText = $" class=\"{Model.Class}\"";
    }

    string GetRenderedFooter(string link, string text)
    {
        var templateHead = $"<{Model.Template}{classText}>";
        var templateTail = $"</{Model.Template}>";
        var templateLink = $"<a href=\"{link}\">{text}</a>";
        return $"{templateHead}{templateLink}{templateTail}\n";
    }
}

@foreach (var foot in Aiursoft.SDK.Values.Footer)
{
    @Html.Raw(GetRenderedFooter(foot.Value, foot.Key))
}
@{
    var langLink = new AiurUrl(GatewayLocator.Endpoint, "Api", "SetLang", new { });
}
@Html.Raw(GetRenderedFooter(langLink.ToString(), "Language").Replace("<a", "<a data-language-change-link"))