@model Aiursoft.Portal.Models.ToolsViewModels.HtmlEncodeViewModel
@{
    ViewData["Title"] = "Html Encode";
    ViewData["Des"] = "Html encode your string online.";
}

<div class="jumbotron">
    <div class="container">
        <h3>@ViewBag.Title</h3>
        <p>@ViewBag.Des</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="https://gitlab.aiursoft.cn/Aiursoft/Infrastructures/-/blob/master/src/WebServices/Basic/Portal/Views/Tools/HtmlEncode.cshtml" target="_blank" role="button">
                <i class="fab fa-gitlab"></i>
                View it on GitLab
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12 col-md-12">
        <div class="card mb-5 mt-4">
            <div class="card-header">
                <i class="fa fa-network"></i>
                Enter your string
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Tools" asp-action="HtmlEncode">
                    <h4>Enter the string you wanna encode or decode.</h4>
                    <hr/>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SourceString"></label>
                        <textarea asp-for="SourceString" placeholder="Any string" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" name="Decrypt" value="false" type="submit">Encrypt</button>
                        <button class="btn btn-secondary" name="Decrypt" value="true" type="submit">Decrypt</button>
                    </div>
                    <textarea readonly="readonly" class="form-control" rows="5">@Model.ResultString</textarea>
                </form>
            </div>
        </div>
    </div>
</div>