<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web xdt:Transform="InsertIfMissing">
    <httpRuntime maxRequestLength="2097152" />
  </system.web>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security xdt:Transform="InsertIfMissing">
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483647" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>