html {
    font-size: 14px;
}

.jumbotron {
    padding: 6rem 1rem;
    background-color: #e9ecef;
}

.ee-card {
    padding: 0;
    margin: 1.25rem;
}

.aiur-scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 3px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

    .aiur-scroll-to-top:focus, .aiur-scroll-to-top:hover {
        color: white;
    }

    .aiur-scroll-to-top:hover {
        background: #343a40;
    }

    .aiur-scroll-to-top i {
        font-weight: 800;
    }
