body {
    color: rgba(255, 255, 255, 0.65);
    background-color: #24292e;
    background-image: url(/images/star-bg.svg), linear-gradient(#191c20, #24292e 15%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0
}
.app-screenshot {
    max-width: 1072px;
    width: 100%
}
.btn-outline-white:hover,
.btn-outline-white:active {
    color: #24292e;
    text-decoration: none;
    background: #fff;
    border-color: #fff
}

.btn-outline-white {
    padding: .9em 1.25em;
    color: #fff;
    background: transparent;
    border-color: rgba(255,255,255,0.5);
    border-radius: .3em
  }
  