@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Aiursoft.EE.Models.SectionViewModels.CreateViewModel;
@{
    ViewData["Title"] = "Create new section for " + Model.CourseName;
}

<div class="container">
    <div class="card mb-3 mt-3">
        <div class="card-header">
            <i class="far fa-chart-bar"></i>
            Create new section for @Model.CourseName
        </div>
        <div class="card-body">
            <div class="row">
                <form class="col-md-9 mt-3" asp-controller="Section" asp-action="Create" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CourseId"/>
                    <div class="form-group">
                        <label asp-for="NewSectionName"></label>
                        <input class="form-control" asp-for="NewSectionName"/>
                        <span asp-validation-for="NewSectionName" class="text-danger"></span>
                    </div>
                    <input class="btn btn-primary mt-3" type="submit" value="Create" data-disable-with="Creating"/>
                </form>
            </div>
        </div>
    </div>
</div>