@using Aiursoft.XelNaga.Models
@using Aiursoft.Gateway.SDK.Services
@using Aiursoft.Pylon
@model Aiursoft.Pylon.Views.Shared.Components.AiurFooter.AiurFooterViewModel
@inject GatewayLocator GatewayLocator
@{
    var classText = "";
    if (!string.IsNullOrWhiteSpace(Model.Class))
    {
        classText = $" class=\"{Model.Class}\"";
    }

    string GetRenderedFooter(string link, string text)
    {
        var templateHead = $"<{Model.Template}{classText}>";
        var templateTail = $"</{Model.Template}>";
        var templateLink = $"<a href=\"{link}\">{text}</a>";
        return $"{templateHead}{templateLink}{templateTail}\n";
    }
}

@foreach (var foot in Values.Footer)
{
    @Html.Raw(GetRenderedFooter(foot.Value, foot.Key))
}
@{
    var langLink = new AiurUrl(GatewayLocator.Endpoint, "Api", "SetLang", new { });
}
@Html.Raw(GetRenderedFooter(langLink.ToString(), "Language").Replace("<a", "<a data-language-change-link"))
<script>
    window.addEventListener('load', function () {
        var link = $('[data-language-change-link]').attr('href');
        var host = encodeURIComponent(this.window.location.origin);
        var path = encodeURIComponent(this.window.location.pathname + this.window.location.search);
        link = `${link}?host=${host}&path=${path}`;
        $('[data-language-change-link]').attr("href", link);
    });
</script>
