<a class='poda-scroll-to-top rounded' href='#page-top'><i class='fa fa-angle-up'></i></a>
<script>
    window.addEventListener('load', function () {
        $(document).scroll(function () {
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.poda-scroll-to-top').fadeIn();
            } else {
                $('.poda-scroll-to-top').fadeOut();
            }
        });

        $('a.poda-scroll-to-top').off('click');
        $('a.poda-scroll-to-top').on('click', function (event) {
            $('html, body').animate({ scrollTop: 0 }, 'easeInOutExpo');
            event.preventDefault();
        });
    });
</script>