@model Microsoft.Azure.CognitiveServices.Search.WebSearch.Models.Videos

@if (Model != null && Model.Value.Any())
{
    <h3 class="mb-0 mt-3" style="font-size: 17px;line-height: 1.3;font-weight:normal">
        Videos
    </h3>
    <div class="row">
        @foreach (var video in Model.Value.Take(4))
        {
            <div class="col-3 mt-3">
                <a href="@video.HostPageUrl">
                    <img class="img-fluid" src="@video.ThumbnailUrl" />
                    <p class="text-muted" style="
                                    width: 100%;
                                    overflow: hidden;
                                   text-overflow: ellipsis;
                                   display: -webkit-box;
                                   -webkit-line-clamp: 1;
                                   -webkit-box-orient: vertical;">
                        @video.ContentUrl.Replace("https://", "")
                    </p>
                </a>
            </div>
        }
    </div>
}