@model Aiursoft.EE.Models.ChapterViewModels.CreateViewModel
@{
    ViewData["Title"] = "Create Chapter";
}
<div class="container">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Aiursoft EE</a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-controller="Course" asp-action="Detail">@ViewContext.RouteData.Values["controller"].ToString()</a>
        </li>
        <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Create new chapter for @Model.CourseName</h1>
        </div>
    </div>
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Invalid Input!</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-bar-chart"></i>
            Chapter Basic Info
        </div>
        <div class="card-body">
            <div class="row">
                <form class="col-md-12" asp-controller="Chapter" asp-action="Create" method="post">
                    <input asp-for="CourseId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="NewChapterTitle"></label>
                        <input asp-for="NewChapterTitle" class="form-control" placeholder="Enter the title of your new chapter...">
                        <span asp-validation-for="NewChapterTitle" class="text-danger"></span>
                    </div>
                    <button type="submit" data-disable-with="Submitting..." class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>