@model Aiursoft.Developer.Models.SamplesViewModels.FormSampleViewModel
@{
    ViewData["Title"] = "jquery upload progress";
    Layout = "../Home/_Layout";
}
<div class="jumbotron">
    <div class="container">
        <h3>jquery-upload-progress</h3>
        <p>A library to show progress and open button for file uploader.</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="//github.com/Anduin2017/jquery-upload-progress" target="_blank" role="button">
                <i class="fa fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2>jquery-upload-progress</h2>
    <p>This is an example for using jquery-upload progress to submit a form with multiple files input.</p>

    <form class="col-md-6 col-xs-12" asp-controller="Samples" asp-action="Submit" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter your app name...">
            <span asp-validation-for="Name" class="text-danger"></span>
            <small class="form-text text-muted">@Localizer["Your name will be shown when calling API."]</small>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email...">
            <span asp-validation-for="Email" class="text-danger"></span>
            <small class="form-text text-muted">@Localizer["Your email will be shown when calling API."]</small>
        </div>
    </form>
    <script src="@ServiceLocation.CDN/node_modules/dropify/dist/js/dropify.min.js"></script>
    <script src="@ServiceLocation.CDN/node_modules/jquery-progress-upload/src/jquery-progress-upload.js"></script>
</div>