@{
    ViewData["Title"] = "jquery UTC Time";
    Layout = "../Home/_Layout";
}

<div class="jumbotron">
    <div class="container">
        <h3>jquery-utc-time</h3>
        <p>jquery-disable-with is a jQuery plugin which converts UTC time to local time easily.</p>
        <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="//github.com/Anduin2017/jquery-utc-time" target="_blank" role="button">
                <i class="fa fa-github"></i>
                View it on github
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mt-3">jquery-utc-time example</h2>
    <p>jquery-disable-with is a jQuery plugin which converts UTC time to local time easily.</p>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync(typeof(GitHubRenderer), new GitHubRendererArgs
            {
                Org = "Anduin2017",
                Repo = "jquery-utc-time"
            })
        </div>
    </div>
</div>
