@model Aiursoft.Developer.Models.AppsViewModels.DeleteAppViewModel
@{
    ViewData["Title"] = "Delete" + Model.AppName;
}
<div class="container-fluid">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>Caution!</strong> You are about to delete "@Model.AppName"! If you are confirmed to continue, you will lose all<strong> users granted, buckets created, files uploaded</strong> and this app won't be able to use again! This process is not recoverable!
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-trash ico"></i>
            Delete App
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <form asp-controller="Apps" asp-action="DeleteApp" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="AppName"></label>
                                    <input asp-for="AppName" type="text" class="form-control" placeholder="Enter your app name..." readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label asp-for="AppId"></label>
                                    <input asp-for="AppId" type="text" class="form-control" readonly="readonly">
                                </div>
                            </div>

                            <div class="col-md-12 margin-top-30">
                                <a class="btn btn-success" asp-controller="Apps" asp-action="ViewApp" asp-route-id="@Model.AppId">Back to App</a>
                                <button class="btn btn-danger" data-disable-with="Deleting..." type="submit">Confirm to delete</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>