@model Aiursoft.Developer.Models.AppsViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AppLayout";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>Dashboard</h1>
            <p>Create a new app in the 'apps' tab to experience all features!</p>
        </div>
    </div>
</div>