
@{
    ViewData["Title"] = "DisableTwoFA";
}

<h1>DisableTwoFA Warning</h1>

<div>
    <form asp-action="DisableTwoFA" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>