@model Aiursoft.Account.Models.AccountViewModels.DisableTwoFAViewModel
@{
    ViewData["Title"] = "DisableTwoFA";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>

    <div class="col-md-6 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["Two-factor authentication"]
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <p>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <strong>This action only disables 2FA.</strong>
                    </p>
                    <p>
                        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                        used in an authenticator app you should
                        <a asp-action="ResetAuthenticatorWarning"> reset your authenticator keys.</a>
                    </p>
                </div>

                <div>
                    <form asp-action="DisableTwoFA" method="post" class="form-group">
                        <button class="btn btn-danger" type="submit">Disable 2FA</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

