@model Aiursoft.Account.Models.AccountViewModels.GetRecoveryCodesViewModel
@{
    ViewData["Title"] = "GetRecoveryCodes";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["TwoFactorAuthentication Settings"]
            </div>
            <div class="card-body">
                @if (!(Model.NewRecoveryCodesKey?.Any() ?? false))
                {
                    <div class="alert alert-warning" role="alert">
                        <p>
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            <strong>Generate recovery codes.</strong>
                        </p>
                        <p>
                            If you lose your device and don't have the recovery codes, you will lose access to your account.
                        </p>
                    </div>
                    <p class="text-muted">
                        Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                        used in an authenticator app you should <a asp-action="GetRecoveryCodes">reset your authenticator keys.</a>
                    </p>
                    <div>
                        <form asp-controller="Account" asp-action="GetRecoveryCodes" method="post" class="form-group">
                            <button class="btn btn-danger" type="submit">Get Recovery Codes</button>
                        </form>
                    </div>

                }
                else
                {
                    <div>
                        <p>
                            This is your recovery codes. If you can't log in to your account with your authentication app, you can log in with these recovery codes.
                        </p>
                        <div class="row">
                            @foreach (var item in Model.NewRecoveryCodesKey)
                            {
                                <div class="col-6">
                                    <kbd>@item</kbd>
                                </div>
                            }
                        </div>
                        <p class="text-danger">Write those codes down on a paper which you never lose! You will lose access to your account if you don't have your authentication device and recover codes.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>