@model Aiursoft.Account.Models.AccountViewModels.GetRecoveryCodesViewModel
@{
    ViewData["Title"] = "GetRecoveryCodes";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["TwoFactorAuthentication Settings"]
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @if (Model.NewRecoveryCodesKey == null)
                        {

                            <div class="alert alert-warning" role="alert">
                                <p>
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <strong>This action generates new recovery codes.</strong>
                                </p>
                                <p>
                                    If you lose your device and don't have the recovery codes you will lose access to your account.
                                </p>
                                <p>
                                    Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                                    used in an authenticator app you should <a asp-action="GetRecoveryCodes">reset your authenticator keys.</a>
                                </p>
                            </div>
                            <div>
                                <p>
                                    Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                                    used in an authenticator app you should click this button to reset your authenticator keys.
                                </p>
                                <form asp-controller="Account" asp-action="GetRecoveryCodes" method="post" class="form-group">
                                    <button class="btn btn-danger" type="submit">Get Recovery Codes</button>
                                </form>
                            </div>

                        }
                        else
                        {
                            <div>
                                <p>
                                    This is your recipe codes. If you can't log in to your account with Authentication App, you can log in with this recipe codes.
                                </p>
                                @{
                                    int count = 0;
                                    string RecoveryCodes = null;
                                    foreach (var item in Model.NewRecoveryCodesKey)
                                    {
                                        count++;
                                        RecoveryCodes += item;
                                        if (0 == count % 15)
                                        {
                                            <p><kbd>@RecoveryCodes</kbd></p>
                                            RecoveryCodes = null;
                                        }
                                    }
                                }
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>