@model Aiursoft.Account.Models.AccountViewModels.RegenerateRecoveryCodesViewModel
@{
    ViewData["Title"] = "Generate recovery codes";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Account" asp-action="TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>

    <div class="col-md-8 pl-0">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-fw fa-address-card"></i>
                @Localizer["Regenerate recovery codes"]
            </div>
            <div class="card-body">
                @if (null != Model.RecCodesKeyArray)
                {
                    <div>
                        @foreach (var ReCodeItem in Model.RecCodesKeyArray)
                        {
                            <p>
                                <code>@ReCodeItem</code>
                            </p>
                            <br />
                        }
                    </div>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        <p>
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            <strong>This action generates new recovery codes.</strong>
                        </p>
                        <p>
                            If you lose your device and don't have the recovery codes you will lose access to your account.
                        </p>
                        <p>
                            Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                            used in an authenticator app you should <a asp-action="ResetAuthenticatorWarning">reset your authenticator keys.</a>
                        </p>
                    </div>

                    <div>
                        <form asp-controller="Account" asp-action="RegenerateRecoveryCodes" method="post" class="form-group">
                            <button class="btn btn-danger" type="submit">Generate Recovery Codes</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>