.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.17;
    z-index: 0;
}

.status-shadow {
    text-shadow: 1px 1px 4px #000000;
}

header.status-back {
    background: url('/img/statusbg.jpg') #184685 no-repeat center center;
    background-size: cover;
}
