<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" action="/api/uploadfile" role="form" enctype="multipart/form-data">
        <label>Access Token:</label>
        <input type="text" name="AccessToken" />

        <label>BucketId:</label>
        <input type="number" name="BucketId" />

        <input type="file" name="file" accept="image/*" multiple="">
        <button type="submit">Upload</button>
    </form>
</body>
</html>